<h1>EDIT!</h1>

<h1>{{title}}</h1>
<p>{{body}}</p>

{{input value=title autofocus='true' placeholder="Post Title"}}
{{textarea value=body placeholder="Post Body"}}
<button {{action 'editPost'}}>Save Post!</button>
